<main class="p-10 min-h-screen bg-cover" style="background-image: url(/assets/profile2.jpg);">
    <div class="glass p-10 bg-base-200 rounded-3xl">
        <div class="flex-col lg:flex-row">
          <div>
            <h1 class="text-4xl text-white font-bold">{{user.name}}</h1>
            <h1 class="text-2xl text-white font-bold">{{user.email}}</h1>
          </div>
        </div>
      </div>

      <section class="glass review-section hero p-10 bg-base-200 rounded-3xl my-5">
        <div>
          <h1 class="text-2xl text-center text-white font-bold">My Reviews:</h1>
          <div class="flex flex-wrap justify-evenly lg:flex-row wrap">
              {{#each reviews}}
                <div class="card w-96 m-5 bg-base-100 shadow-xl">
                    <div class="card-body">
                        <div class="card-title flex justify-between">
                            <h2>{{this.gameName}}</h2>
                            <div class="dropdown">
                                <button tabindex="0" class="btn btn-square btn-ghost dropdown-toggle">
                                    <i class="fa-solid fa-ellipsis"></i>
                                </button>
                                <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                                    <li><a href="#" class="update-review" data-id="{{this.id}}" onclick="showModal({{this.id}}, '{{this.description}}')">Update</a></li>
                                    <li><a href="#" class="delete-review" data-id="{{this.id}}">Delete</a></li>
                                </ul>
                            </div>
                        </div>
                        <p>{{this.description}}</p>
                    </div>
                </div>
                <dialog id="modal_{{this.id}}" class="modal">
                    <div class="modal-box">
                        <h3 class="font-bold text-lg">Update your review:</h3>
                        <textarea class="textarea textarea-bordered textarea-lg w-full max-w-xs m-2" name="reviewText_{{this.id}}" placeholder="Review" id="reviewText_{{this.id}}"></textarea>
                        <button class="btn btn-primary" onclick="submitReviewUpdate({{this.id}})">Submit</button>
                        <button onclick="document.getElementById('modal_{{this.id}}').close()" class="btn">Close</button>
                    </div>
                </dialog>
              {{/each}}
          </div>
        </div>
    </section>

  <script src="/js/profile.js"></script>
</main>

